html {
	height:100%;
}


body {
	text-align: center;
	background-image: url(../img/pattern2.png), url(../img/background2.jpg);
	background-color: transparent;
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: auto, cover;
}

.page {
    display:block;
    position: absolute!important;
    width: 750px!important;
    left: 50%!important;
    margin-left: -375px;
    background: rgba(224,248,247,0.7);
    height:1000px;
}

.header1 {
	position:fixed!important;
	background-image: url(../img/header2.jpg);
	background-color: transparent;
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: auto, cover;
	height: 100px!important;
	text-align:center;
}

.header1 img {
	-webkit-border-radius: 5px; /* Para Safari y Chrome */
    -moz-border-radius: 5px; /* Para Firefox */
    border-radius: 5px; /* CSS3 */
   -moz-box-shadow: 2px 3px 12px rgba(64,64,64,.5);
    -webkit-box-shadow: 2px 3px 12px rgba(128,128,128,.5);
    box-shadow: 2px 3px 12px rgba(128,128,128,.5);
}

.botones {
	position:absolute;
	right:0;
	top:0;
	padding: 5px 5px 5px 5px;
	
	
}


.menu {
	clear:both;
	position: absolute!important;
    width: 750px!important;
    left: 50%!important;
    bottom: 0!important;
    margin-left: -375px;
    
}



div#loading {
   /*display:none;*/
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#AAA;
    z-index:99998;
    /*filter:alpha(opacity=60);*/
    -moz-opacity:.60;
    opacity:.60;
}

div#imgLoading {
   /* display:none;*/
    position:fixed;
    top:48%;
    left:48%;
    width:55px;
    height:55px;
    z-index:99999;
}

.estilo2 {
	display;
}
.estilo1 {
	display:none;
}

#infoHome {
	text-align:center;
	padding: 10px 10px 10px 10px;
    position: absolute;
    top: 200px;
    left: 50%;
        
    width:330px;
    height:250px;
    margin-left: -165px;
    margin-top: -125px;
}


#infoHome {
	text-align:center;
	padding: 10px 10px 10px 10px;
    position: absolute;
    top: 230px;
    left: 50%;
        
    width:680px;
    height:250px;
    margin-left: -340px;
    margin-top: -125px;
}

#infoHome img{
	float:left;
    -webkit-border-radius: 15px; /* Para Safari y Chrome */
    -moz-border-radius: 15px; /* Para Firefox */
    border-radius: 15px; /* CSS3 */
   -moz-box-shadow: 3px 4px 5px rgba(255,255,255,.5);
    -webkit-box-shadow: 3px 4px 5px rgba(255,255,255,.5);
    box-shadow: 3px 4px 5px rgba(255,255,255,.5);
	
}

#infoHome #texto{
	float: left;
	width:320px;
	padding-left: 10px;
	padding-top: 10px;
	color: #030558;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 5px /*{c-body-shadow-radius}*/ #848484/*{c-body-shadow-color}*/
}


#infoHome .botonAutores {
	clear:both;
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
}
#titlePromos {
	color: #030558;
	text-shadow: 0 /*{c-body-shadow-x}*/ 1px /*{c-body-shadow-y}*/ 5px /*{c-body-shadow-radius}*/ #848484/*{c-body-shadow-color}*/
}

#promocion {
	text-align:center;
	padding: 10px 10px 10px 10px;
    position: absolute;
    top: 550px;
    left: 50%;
        
    width:600px;
    height:300px;
    margin-left: -300px;
    margin-top: -150px;
  
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -moz-box-background-clip: padding-box;
    -webkit-box-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-border-radius: .3em;
    -webkit-box-border-radius: .3em;
    border-radius: .3em;
    background: rgba(224,239,246,0.9);
}
#nextPromo {
	
    cursor:pointer;
    position: absolute;
    right:20px;
    top: 10px;
    width: 41px;
    height: 40px;
    background: url(../img/next2.png) no-repeat;

}

#prevPromo {
	
    cursor:pointer;
    position: absolute;
    left:20px;
    top:10px;
    width: 41px;
    height: 40px;
    background: url(../img/prev2.png) no-repeat;

}

#pedirPromo {
	
    cursor:pointer;
    position: absolute;
    left:50%;
    bottom: 5px;
    width: 50px;
    margin-left: -35px;
    height: 41px;
    background: url(../img/cart2.gif) no-repeat;

}
.tittleProm {
	margin-left: 0px;
	padding: 20px 5px 5px 5px;
	display: inline;
	font-style:italic;
	font-family:arial, "courier new", impact;
	font-size:24px;
	color:#0061AB;
}
.descProm {
	padding: 10px 5px 10px 5px;
	display: block;
	font-style:italic;
	font-family:arial, "courier new", impact;
	font-size:16px;
	
}
.precioOrig {
	text-decoration: line-through;
	font-size: 16px;
	color: red;
	font-weight: bold;
	padding-right: 20px;
}
.precioProm {
	font-weight: bold;
	font-size: 24px;
	color:#47AB00;
	padding-left: 20px;
}
.imgProm {
	padding: 5px 0px 5px 0px;
	display: block;
	height:140px;
}

.imgProm img {
	margin-left:3px; 
	margin-right:3px;
	-webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
   -moz-box-shadow: 3px 4px 5px rgba(128,128,128,.5);
    -webkit-box-shadow: 3px 4px 5px rgba(128,128,128,.5);
    box-shadow: 3px 4px 5px rgba(128,128,128,.5);
}

.imgLargeProducto {
	text-align:center;
	display:block;
	width:520px;
}

.contentConfirm {
	text-align:center;
}

img.large{
    -webkit-border-radius: 30px; /* Para Safari y Chrome */
    -moz-border-radius: 30px; /* Para Firefox */
    border-radius: 30px; /* CSS3 */
   -moz-box-shadow: 3px 4px 12px rgba(0,0,0,.3);
    -webkit-box-shadow: 3px 4px 12px rgba(0,0,0,.3);
    box-shadow: 3px 4px 12px rgba(0,0,0,.3);
	
}


div.agregar  {
    padding: 10px 10px 10px 10px;
    display:none;
    position: fixed;
    left: 50%;
    top: 50%;
    width:500px;
    height:300px;
    margin-left: -250px;
    margin-top: -200px;
    z-index:99999;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -moz-box-background-clip: padding-box;
    -webkit-box-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-border-radius: .3em;
    -webkit-box-border-radius: .3em;
    border-radius: .3em;
    background: rgba(224,239,246,0.8);
}

div.agregar label {
	font-weight: bold;
	padding-top: 10px;
}


div.agregar  .textConfirm{
    text-align: center;
    width:100%;
}

div.agregar  .textConfirm h3 {
    font-style: italic;
    
}
div.agregar .contentConfirm {
	text-align: center;
	padding-top:10px;
	padding-bottom:10px;
}

div.agregar .contentConfirm ul {
	list-style: none;
}

div.agregar .buttonsConfirm{
	position:relative;
	bottom: 10px;
}


#promocion #promoAgregada {
	display:none;
	position:absolute;
	width: 200px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -moz-box-background-clip: padding-box;
    -webkit-box-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-border-radius: .3em;
    -webkit-box-border-radius: .3em;
    border-radius: .3em;
    background: rgba(199,247,245,0.7);
	
}

#promocion #promoAgregada .botonVerPedido {
	padding-top: 10px;
}

#autores  {
    padding: 10px 10px 10px 10px;
    display:none;
    position: fixed;
    left: 50%;
    top: 50%;
    width:500px;
    height:375px;
    margin-left: -250px;
    margin-top: -200px;
    z-index:99999;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -moz-box-background-clip: padding-box;
    -webkit-box-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-border-radius: .3em;
    -webkit-box-border-radius: .3em;
    border-radius: .3em;
    background: rgba(199,247,245,0.9);
}



#listaCat .producto:hover {
	-moz-box-shadow: 0 3px 5px rgba(0,0,64,.3);
    -webkit-box-shadow: 0 3px 5px rgba(0,0,64,.3);
    box-shadow: 0 3px 5px rgba(0,0,64,.3);
}

#listaCat .producto:active {
	background: rgba(224,224,224,0.8);
}

.destroy {
    background: url("images/destroy.png") no-repeat scroll 0 0 transparent;
    
    display: none;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 20px;
    width: 20px;
}


li:hover .destroy {
    display: block;
}
.destroy:hover {
    background-position: 0 -20px;
}

.cantProd {
    display: none;
    position: absolute;
    right: 30px;
    top: 20px;
    text-align:center;
    
}


li:hover .cantProd {
    display: block;
}

