@CHARSET "ISO-8859-1";
#headerImg {
	  background-image: url(../img/header2.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
      padding-top:18%;
	

}
#promociones {
	text-align:center;
	padding: 10px 10px 10px 10px;
    position: fixed;
    left: 50%;
    top: 70%;
    width:400px;
    height:300px;
    margin-left: -200px;
    margin-top: -100px;
    z-index:99999;
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.3);
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    -moz-box-background-clip: padding-box;
    -webkit-box-background-clip: padding-box;
    background-clip: padding-box;
    -moz-box-border-radius: .3em;
    -webkit-box-border-radius: .3em;
    border-radius: .3em;
    background: rgba(240,239,200,0.85);
}
#nextPromo {
	
	text-align:center;
	position:relative;
	left:40px;
	bottom:0px;
}
#tittleProm {
	margin-left: 80px;
	padding: 50px 0px 0px 0px;
	display: inline;
	font-style:italic;
	font-family:arial, "courier new", impact;
	font-size:30px;
}
#descProm {
	padding: 10px 30px 5px 40px;
	display: block;
	font-style:italic;
	font-family:arial, "courier new", impact;
	font-size:20px;
}
#precioProm {
	display: none;
}
#imgProm {
	padding: 20px 0px 0px 0px;
	display: block;
}
